@import "~node_modules/modern-normalize/modern-normalize.css";

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

html {
  height: 100vh;
}

body {
  height: 100%;

  font-family: "Raleway", sans-serif;

  transition: all 0.3s ease 0s;
}
