<header class="header">
  <nav class="nav">
    <a href="#" class="link nav__link_home current">Home</a>
    <a href="#" class="link nav__link_about">About</a>
  </nav>

  <a href="#" class="logo">Logo</a>

  <ul class="auth">
    <li class="theme">
      <!-- Кнопка зміни теми -->
      <button class="theme__on"></button>
      <button class="theme__reset"></button>
      <!-- ================= -->
    </li>

    <li class="auth__item">
      <a href="#" class="link log-in">Log In</a>
    </li>
    <li class="auth__item">
      <a href="#" class="link sign-up">Sign Up</a>
    </li>
  </ul>
</header>
