<section class="hero">
  <div class="info">
    <h1 class="title">Ocassional <span class="rose">Rosé</span></h1>
    <p class="discription">The older , the better.</p>
    <button type="button" class="button-menu">Browse menu</button>
  </div>
  <div class="img-container">
    <div class="wheel">
      <div class="wheel__word">
        <div class="wheel__letter">L</div>
        <div class="wheel__letter">o</div>
        <div class="wheel__letter">r</div>
        <div class="wheel__letter">e</div>
        <div class="wheel__letter">m</div>
      </div>

      <div class="wheel__word">
        <div class="wheel__letter">i</div>
        <div class="wheel__letter">p</div>
        <div class="wheel__letter">s</div>
        <div class="wheel__letter">u</div>
        <div class="wheel__letter">m</div>
      </div>

      <div class="wheel__word">
        <div class="wheel__letter">d</div>
        <div class="wheel__letter">o</div>
        <div class="wheel__letter">l</div>
        <div class="wheel__letter">o</div>
        <div class="wheel__letter">r</div>
      </div>

      <div class="wheel__word">
        <div class="wheel__letter">s</div>
        <div class="wheel__letter">i</div>
        <div class="wheel__letter">t</div>
      </div>

      <div class="wheel__word">
        <div class="wheel__letter">a</div>
        <div class="wheel__letter">m</div>
        <div class="wheel__letter">e</div>
        <div class="wheel__letter">t</div>
        <div class="wheel__letter">,</div>
      </div>

      <div class="wheel__word">
        <div class="wheel__letter">c</div>
        <div class="wheel__letter">o</div>
        <div class="wheel__letter">n</div>
        <div class="wheel__letter">s</div>
        <div class="wheel__letter">r</div>
      </div>
    </div>
  </div>
</section>
